In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdfasdfasfd'))
s

0     a
1     s
2     d
3     f
4     a
5     s
6     d
7     f
8     a
9     s
10    f
11    d
dtype: object

In [3]:
s.unique()

array(['a', 's', 'd', 'f'], dtype=object)

In [4]:
s.value_counts()

s    3
d    3
a    3
f    3
dtype: int64

In [8]:
dados = pd.read_csv('dados/extras/dados/aluguel.csv', sep=';') 
# Python Pandas - Tratando e analisando dados\alura_pandas\dados\extras\dados\aluguel.csv

In [9]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [10]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64

In [11]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [13]:
eventos = {'m1': list(m1), 'm2': list(m2), 'm3': list(m3), 'm4': list(m4)}
# eventos

In [14]:
moedas = pd.DataFrame(eventos)
moedas.head()

  m1 m2 m3 m4
0  C  C  C  c
1  C  C  c  C
2  c  C  c  C
3  C  C  C  c
4  C  C  C  c

In [15]:
df = pd.DataFrame(data=['Cara', 'Coroa'], index=['c', 'C'], columns=['Faces'])
df

   Faces
c   Cara
C  Coroa

In [17]:
for i in moedas:
    df = pd.concat([df, moedas[i].value_counts()], axis=1)

In [18]:
df

   Faces  m1  m2  m3  m4
c   Cara  25  26  19  23
C  Coroa  25  24  31  27