In [39]:
import pandas as pd

# Series

In [40]:
data = [1,2,3,4,5,6,7]

In [41]:
s = pd.Series(data)

In [42]:
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [43]:
index = ['Linha' + str(i) for i in range(len(data))]

In [44]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4', 'Linha5', 'Linha6']

In [45]:
s = pd.Series(data=data, index=index)

In [46]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
Linha5    6
Linha6    7
dtype: int64

In [47]:
data = {'Linha' + str(i) : i + 1 for i in range(len(data))}

In [48]:
data

{'Linha0': 1,
 'Linha1': 2,
 'Linha2': 3,
 'Linha3': 4,
 'Linha4': 5,
 'Linha5': 6,
 'Linha6': 7}

In [49]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
Linha5    6
Linha6    7
dtype: int64

In [50]:
s1 = s + 2

In [51]:
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
Linha5    8
Linha6    9
dtype: int64

In [52]:
s2 = s + s1

In [53]:
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
Linha5    14
Linha6    16
dtype: int64

# DataFrame

In [54]:
data = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [55]:
df1 = pd.DataFrame(data = data)

In [56]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [57]:
index = ['Linha' + str(i) for i in range(len(data))]
index

['Linha0', 'Linha1', 'Linha2']

In [58]:
columns = ['Coluna' + str(i) for i in range(len(data))]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [59]:
df1 = pd.DataFrame(data=data, columns=columns, index=index)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [60]:
data = {
    'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7}, 
    'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8}, 
    'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}
}

data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [61]:
df2 = pd.DataFrame(data)

df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [62]:
data = [
    (1,2,3),
    (4,5,6),
    (7,8,9)
]

data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [63]:
df3 = pd.DataFrame(data=data, columns=columns, index=index)

df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [64]:
df1[df1 > 0] = 'A'

df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [65]:
df2[df2 > 0] = 'B'

df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [66]:
df3[df3 > 0] = 'C'

df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [67]:
df4 = pd.concat([df1, df2, df3])

df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [68]:
df4 = pd.concat([df1, df2, df3], axis=1)

df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C

In [72]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4