# Relatório de Análise IV

## Seleções e frequências

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep=';')

dados.head(3)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0

### Selecione somente os imóveis classificados com tipo 'Apartamento'

In [6]:
selecao = (dados['Tipo'] == 'Apartamento')

selecao

0        False
1        False
2         True
3         True
4         True
         ...
22575     True
22576    False
22577     True
22578     True
22579     True
Name: Tipo, Length: 22580, dtype: bool

### Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'

### Selecione os imóveis  com área entre 60 e 100 metros quadrados, incluindo os limites

### Selecione os imóveis  que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00