In [14]:
import pandas as pd

In [15]:
data = [[1,2,3], [4,5,6], [7,8,9]]

data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [16]:
list('321')

['3', '2', '1']

In [17]:
df = pd.DataFrame(data, list('321'), list('ZYX'))

df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [18]:
df.sort_index(inplace=True)

df

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

In [19]:
df.sort_index(inplace=True, axis=1)

df

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

In [20]:
df.sort_values(by='X', inplace=True)

df

   X  Y  Z
3  3  2  1
2  6  5  4
1  9  8  7

In [21]:
df.sort_values(by='3', axis=1, inplace=True)

df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9